
:root {
    --primary-color-background: hsl(148, 38%, 91%);
    --primary-color-green: hsl(169, 82%, 27%);
    --primary-color-text: hsl(187, 24%, 22%);
    --primary-color-error: hsl(0, 66%, 54%);
}


.body {
    overflow-x: hidden;
    background-color: var(--primary-color-background);
    font-family: "Karla", serif;
    font-size: 16px;
    color: var(--primary-color-text);
    width: 100vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;/*最低限の高さを確保しつつ、内容が増えたら広がる*/
}
.section {
    background-color: #fff;
    width: 850px;
    margin: 10% auto;
    border-radius: 15px;
    position: relative; /* .bodyの影響を受ける */
}
h1 {
    font-size: 25px;
}
.section__inner {
    padding: 4%;
}
.section__inner--space {
    margin-top: 3%;
}
.section__inner--largespace {
    margin-top: 4%;
}
.flex {
    display: flex;
    gap: 3%;
}
label {
    display: block;
    cursor: pointer;
}
input {
    width: 100%;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}
textarea {
    font-size: 16px;
}

input:focus,
textarea:focus {
    border: none;
    outline: solid 1px var(--primary-color-green);
}
.asterisk {
    color: var(--primary-color-green);
    margin-left: 5px;
}
.first_name-wrap, .last_name-wrap {
    flex: 1;
}
.first_name, .last_name, .email {
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}
.error-border {
    border: solid 1px var(--primary-color-error) !important;
}
.error-text {
    color: var(--primary-color-error);
    margin-top: 10px;
    display: none;
}
.hidden {
    display: none;
}
.block {
    display: block !important;
}
.general_enquiry-wrap, .support_request-wrap {
    border: solid 1px var(--primary-color-text);
    flex: 1;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 18px;
    cursor: pointer;
}
.general_enquiry-wrap label, .support_request-wrap label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
/*:has() 擬似クラスはラジオボタンがチェックされたときに、その親の div の背景色を変更する*/
/*input[type="radio"]:checked 選択されているラジオボタンだけにスタイルを適用する選択されているラジオボタンだけにスタイルを適用*/
.general_enquiry-wrap:has(input[type="radio"]:checked),
.support_request-wrap:has(input[type="radio"]:checked) {
    background-color: var(--primary-color-background);
    transition: background-color 0.2s ease-in-out;
}
input[type="radio"]  {
    margin: 0 10px;
    height: 18px;
}
input[type="radio"]:checked {
    accent-color: var(--primary-color-green);
}
.general_enquiry, .support_request {
    width: 10%;
}
.general_enquiry:focus, .support_request:focus {
    outline: none;
}
.message {
    height: 80px;
    width: 100%;
    border: solid 1px var(--primary-color-text);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.checkboxItem {
    display: flex;
    align-items: center;
    width: fit-content;
    line-height: 1;
    cursor: pointer;
}

/*:not() → 指定した条件を「除外」する➡.checkboxItem のうち、最後の .checkboxItem 以外にスタイルを適用する*/
.checkboxItem:not(:last-of-type) {
    margin-bottom: 16px;
}

.checkbox {
    appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid var(--primary-color-green);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 1%;
}

.checkbox:checked {
    background-color: var(--primary-color-green);
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 2px;
    width: 8px;
    height: 2px;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(-45deg);
}

.button {
    background-color: var(--primary-color-green);
    color: #fff;
    width: 100%;
    text-align: center;
    height: 40px;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
}
.button:hover {
    background-color: var(--primary-color-text);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

/* send message */
.send_message {
    color: #fff;
    background-color: var(--primary-color-text);
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    z-index: 999;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.send_message-top {
    font-weight: 600;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
}
.send_message-thank {
    color: var(--primary-color-background);
    margin-top: 20px;
}
.success-check {
    margin-right: 8px;
}